.Card {
  display: inline-block;
  margin: 2px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.Card-small {
  width: 75px;
  height: 123px;
}

.Card-medium {
  width: 100px;
  height: 164px;
}

.Card-large {
  width: 150px;
  height: 246px;
}

.Card-group {
  display: inline-block;
  margin-right: 1em;
}

.Card-label {
  display: block;
  text-align: left;
}


.Card-image-0-0 { background-image: url("./cards/0/0.png"); }
.Card-image-0-1 { background-image: url("./cards/0/1.png"); }
.Card-image-0-2 { background-image: url("./cards/0/2.png"); }
.Card-image-0-3 { background-image: url("./cards/0/3.png"); }

.Card-image-1-0 { background-image: url("./cards/1/0.png"); }
.Card-image-1-1 { background-image: url("./cards/1/1.png"); }
.Card-image-1-2 { background-image: url("./cards/1/2.png"); }
.Card-image-1-3 { background-image: url("./cards/1/3.png"); }

.Card-image-2-0 { background-image: url("./cards/2/0.png"); }
.Card-image-2-1 { background-image: url("./cards/2/1.png"); }
.Card-image-2-2 { background-image: url("./cards/2/2.png"); }
.Card-image-2-3 { background-image: url("./cards/2/3.png"); }

.Card-image-3-0 { background-image: url("./cards/3/0.png"); }
.Card-image-3-1 { background-image: url("./cards/3/1.png"); }
.Card-image-3-2 { background-image: url("./cards/3/2.png"); }
.Card-image-3-3 { background-image: url("./cards/3/3.png"); }

.Card-image-4-0 { background-image: url("./cards/4/0.png"); }
.Card-image-4-1 { background-image: url("./cards/4/1.png"); }
.Card-image-4-2 { background-image: url("./cards/4/2.png"); }
.Card-image-4-3 { background-image: url("./cards/4/3.png"); }

.Card-image-5-0 { background-image: url("./cards/5/0.png"); }
.Card-image-5-1 { background-image: url("./cards/5/1.png"); }
.Card-image-5-2 { background-image: url("./cards/5/2.png"); }
.Card-image-5-3 { background-image: url("./cards/5/3.png"); }

.Card-image-6-0 { background-image: url("./cards/6/0.png"); }
.Card-image-6-1 { background-image: url("./cards/6/1.png"); }
.Card-image-6-2 { background-image: url("./cards/6/2.png"); }
.Card-image-6-3 { background-image: url("./cards/6/3.png"); }

.Card-image-7-0 { background-image: url("./cards/7/0.png"); }
.Card-image-7-1 { background-image: url("./cards/7/1.png"); }
.Card-image-7-2 { background-image: url("./cards/7/2.png"); }
.Card-image-7-3 { background-image: url("./cards/7/3.png"); }

.Card-image-8-0 { background-image: url("./cards/8/0.png"); }
.Card-image-8-1 { background-image: url("./cards/8/1.png"); }
.Card-image-8-2 { background-image: url("./cards/8/2.png"); }
.Card-image-8-3 { background-image: url("./cards/8/3.png"); }

.Card-image-9-0 { background-image: url("./cards/9/0.png"); }
.Card-image-9-1 { background-image: url("./cards/9/1.png"); }
.Card-image-9-2 { background-image: url("./cards/9/2.png"); }
.Card-image-9-3 { background-image: url("./cards/9/3.png"); }

.Card-image-10-0 { background-image: url("./cards/10/0.png"); }
.Card-image-10-1 { background-image: url("./cards/10/1.png"); }
.Card-image-10-2 { background-image: url("./cards/10/2.png"); }
.Card-image-10-3 { background-image: url("./cards/10/3.png"); }

.Card-image-11-0 { background-image: url("./cards/11/0.png"); }
.Card-image-11-1 { background-image: url("./cards/11/1.png"); }
.Card-image-11-2 { background-image: url("./cards/11/2.png"); }
.Card-image-11-3 { background-image: url("./cards/11/3.png"); }
